@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@font-face {
  font-family: Gloria;
  src: url("../src/assets/fonts/GloriaHallelujah-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-gloria: Gloria, "sans-serif";
}

body {
  font-family: Gloria, Gloria Hallelujah;
}
